.vscode
.pytest_cache
__pycache__

airflow/.env
airflow/config/airflow.cfg
airflow/logs
.venv
**/.env
.env

terraform/terraform.tfvars
terraform/.terraform.lock.hcl
terraform/.terraform.tfstate.lock.info
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform/
